{% extends 'registration/registrarion_basic.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Password reset
{% endblock %}

{% block form %}
    <div class='row'>
        <div class=' col-10  mx-auto border mb-3 mt-3 shadow-lg'>
            <h1 class="text-center">Set your Password</h1>
            <form class="mb-3 mt-3" method='post' action=''>{% csrf_token %}
                {{ form|crispy }}
                <span style='margin-bottom: 12px;'></span>
                <button type="submit" class='btn btn-block btn-info'>Set new password</button>
            </form>
        </div>
    </div>
{% endblock %}